/* ALL NAVIGATION BARS*/
body {
    padding: 0%;
    margin: 0%;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    background-color: black;
}
.header h1 {
    text-align: left;
    font-size: 32px;
    font-weight: 100;
    position: relative;
    margin: 0px;
    padding-left: 5px; 
    top: 0px;
    font-style: initial;
    font-family: monospace;
    color: ivory;
}
.header ul {
    width: auto;
    text-align: center;
    position: relative;
    margin: 8px;
}
.header ul li {
    display: inline;
    margin-right: 2%;
    position: relative;
}
.header ul li a {
    text-decoration-line: none;
    font-size: 18px;
    font-family: fantasy;
    color:whitesmoke;
}
.header ul li a:hover {
    color: brown;
}

.header .dropdown {
    float: right;
}


/* Home page */
.banner-area {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 65px;
    background-image: url(../Images/Pic1.jpg);
    background-size: cover;
    background-position: center center;
}
.banner-area h2 {
    padding-top: 10%;
    font-size: 70px;
    font-family: poppins;
    text-transform: uppercase;
    color: lightyellow;
}
.content-area {
    width: 100%;
    position: absolute;
    top: 550px;
    background-color: #ddd;
    height: 1500px;
}
.content-area h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}
.content-area p {
    padding: 2% 0;
    font-family: monospace;
    line-height: 30px;
}

/* About page */
.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
h2 {
    text-align: center;
}

/* Product page */
img {
    width: 300px;
}

#fullpage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
#text h1 {
    padding-top: 40px;
}
.allproducts {
    display: flex;
    background-color: black;
}
.Products {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    align-items: center;
    margin: 10px;
    }